h1{
     width: 100 vw;
    height: 10 em;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(16, 95, 51);
    position:static;
}

.navBar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 25%;
    justify-content: space-around;
}

.hello{
    width: 100%;
    height: 10 em;
    background:seagreen;
    color:whitesmoke;
    text-align: center;
    padding:5px;
}

.button{
    display: block;
    border-width: medium;
    border-color:black;
    background:ghostwhite;
    width:50px;
    text-decoration:none;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    border-radius: 5px;
}

.panelText{
    color:black;
    text-align:center;
    margin: auto;
    padding-top: 10px;
}

.panel{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background:rgb(200, 245, 200);
    margin: 5px;
}

.panelPic{
    overflow:hidden;
    width:20em;
    height:20em;
    border: 2px solid whitesmoke;
    border-radius:25%;
    margin: 5px;
}

.card{
    height:50%;
    width:50%;
    margin:auto;
    border-radius: 25%;
    background:whitesmoke;
    text-align:center;
    margin:0%;
}

.cardPic{
    height:30%;
    width:30%;
    border-radius:25%;
    margin-top:10px;
    margin-bottom:10px;
}
